<section class="sidebar">
  <header>MENU</header>
  <div class="menu">
  <ul>
    {{ range .Site.Sections }}
    <li><a href="{{ .Permalink }}">{{ .Title }}</a>      
      <ul>
        {{ $pages := .RegularPages }}
        {{ if eq .Section "posts" }}
          {{ $pages = first 10 .RegularPages }} 
        {{ end }}
        {{ range $pages }}
        <li>&nbsp;&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}

        {{ $sections := .Sections }}
        {{ range $sections }}
        <li>&nbsp;&nbsp;<a href="{{ .Permalink }}">{{ .Title }}</a>	  
        {{ end }}          
      </ul>
    </li>
    {{ end }}
  </ul>
  </div>
</section>
